<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Buster's Best</title>
  </head>
  <body>
      <% alley_info = {:name => "Buster's Best Bowling Alley", :slogan => "Bet You Can't Bowl A Strike Every Time", :address => "97 Bowling Alley Lane, Boulder CO"} %>
      <% alley_teams = ["I Can't Believe It's Not Gutter","Livin' on A Spare","Split Happens","Gutter Gang"] %>
      
      <!-- Use the ruby hashes above to complete the page below: -->
      
      <h1>Buster's Best Bowling Alley</h1>
      <h2>Bet You Can't Bowl A Strike Every Time</h2>
      <p>97 Bowling Alley Lane, Boulder CO</p>
      
      <h4>Top Teams:</h4>
      <ul> <!-- you should be using .each -->
          <li><%= .each%></li>
          <li></li>
      </ul>
  </body>
</html>